.restaurants-map-wrapper {
    position: relative;

    &__overlay {
        position: absolute;
        z-index: 1000;
        background: white;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        width: 350px;

        $filter-height: 100px;
        &--filters {
            top: 1rem;
            right: 1rem;
            height: $filter-height;
        }

        &--info {
            top: calc(1rem + $filter-height + 1rem + 2rem); // 1rem for top padding, 75px for filters, 1rem for padding top element, and 2rem for bottom padding
            right: 1rem;
        }
    }
}
